AStalker.xcodeproj/project.xcworkspace/xcshareddata/
AStalker.xcodeproj/project.xcworkspace/xcuserdata/
AStalker.xcodeproj/xcuserdata/
AStalker.xcworkspace/xcshareddata/
AStalker.xcworkspace/xcuserdata/
Podfile.lock
Pods/
